/* padding*/
.p-16 {
    padding: 16px;
}

.p-32 {
    padding: 32px;
}

.py-16 {
    padding: 16px 0px;
}

.py-8 {
    padding: 8px 0px;
}

.py-8 {
    padding: 8px 0px;
}

.pb-16 {
    padding-bottom: 16px;
}

.pr-16 {
    padding-right: 16px;
}

.pr-32 {
    padding-right: 32px;
}

.px-50 {
    padding: 0px 50px;
}

.px-32 {
    padding: 0px 32px;
}

.pl-32 {
    padding-left: 32px;
}

.pl-16 {
    padding-left: 16px;
}

.pl-8 {
    padding-left: 8px;
}

.p-0 {
    padding: 0;
}

.p-auto {
    padding: auto;
}

.pl-80 {
    padding-left: 80px;
}

.pt-80 {
    padding-top: 80px;
}

.p-80 {
    padding: 80px;
}

.pb-32 {
    padding-bottom: 32px;
}

/* margin*/
.m-auto {
    margin: auto;
}

.mx-auto {
    margin: 0 auto;
}

.mx-16 {
    margin: 0px 16px;
}

.my-16 {
    margin: 16px 0px;
}

.my-32 {
    margin: 32px 0px;
}

.my-80 {
    margin: 80px 0px;
}

.mr-16 {
    margin-right: 16px;
}

.mb-8 {
    margin-bottom: 8px;
}

.mb-16 {
    margin-bottom: 16px;
}

.mt-16 {
    margin-top: 16px;
}

.mt-32 {
    margin-top: 32px;
}

.ml-32 {
    margin-left: 32px;
}

.ml-16 {
    margin-left: 16px;
}

.w-100 {
    width: 100%;
}