/* padding*/
.p-16 {
    padding: 16px;
}

.p-32 {
    padding: 32px;
}

.py-16 {
    padding: 16px 0px;
}

.py-8 {
    padding: 8px 0px;
}

.pr-16 {
    padding-right: 16px;
}

.px-50 {
    padding: 0px 50px;
}

.pl-32 {
    padding-left: 32px;
}

.p-0 {
    padding: 0;
}

.p-auto {
    padding: auto;
}

.pl-80 {
    padding-left: 80px;
}

.pt-80 {
    padding-top: 80px;
}

.p-80 {
    padding: 80px;
}

.pb-32 {
    padding-bottom: 32px;
}

/* margin*/
.m-auto {
    margin: auto;
}

.mx-auto {
    margin: 0 auto;
}

.my-16 {
    margin: 16px 0px;
}

.my-80 {
    margin: 80px 0px;
}

.w-100 {
    width: 100%;
}